@{
    ViewData["Title"] = "Home Page";
}

<body class="indexBody">
    <div class="text-center" style='background:#F2CB05; margin:100px; position:relative;padding:10px;'>
        <h1 class="display-4">FILMAWKA</h1>
    </div>
    <div class="text-center" style="background:#F2F2F2; margin:10px;padding-top:5px;padding-bottom:5px;">
        <h4>Portal do przeglądania i ocen filmów.</h4>
    </div>

</body>
