@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="indexBody">
        <div class="text-center" style='background: rgba(242,183,5,0.7);border-radius:25px; margin:100px; position:relative;padding:10px;'>
            <h1 class="display-4">Pijawka</h1>
        </div>

        <div class="text-center" style="background:rgba(245,242,242,0.7);border-radius:10px; margin:10px;padding-top:5px;padding-bottom:5px;">
            <h4>Mierz czas zerowania piwska i rywalizuj ze znajomymi, kto jest lepszy</h4>
        </div>
        <br />

    </div>
  
</body>
