@{
    ViewData["Title"] = "Beer Timer";
}
<style>
body {
    background-color: wheat;
}

.display-4 {
    font-family: monospace;
    color: red;
}

.display-8 {
    color: darkslategrey;
}
</style>

<script>
    var animation = bodymovin.loadAnimation({
        container: document.getElementById('animContainer'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'https://assets10.lottiefiles.com/packages/lf20_gB20zF.json' // link to lottie
    })
</script>

<head></head>

<body>
    <div class="text-center">
        <h1 class="display-4"> Piwny timer </h1>
        <h2 class="display-8"> Jeżeli naprawdę kochasz piwo, pokaż jak szybko je wypijesz!</h2>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.0/lottie.min.js"></script>
    </div>
    
</body>
